body {
  background: linear-gradient(#DDF, #88F);
  height: 100vh;
}

#container {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  font-family: Courier New, courier;
  font-size: 5vmin;
  font-weight: bold;
  text-align: center;
}

#controls {
  width: 94%;
  height: 9%;
  margin-left: 2.5%;
  background: linear-gradient(#EEE, #DDD);
  border: 1px solid black;
}

button {
  width: 7%;
  height: 50%;
  border: 1px solid black;
  margin: 1.3%;
  box-shadow: 2px 2px 4px black;
  font-size: 3vmin;
}

button:hover {
  border: 1px solid gray;
}

button:active {
  background: darkgray;
}

#speed-label {
  display: inline-block;
  width: 10%;
}

#edit-menu {
  margin: 1.3%;
  margin-left: .2%;
}

.separator {
  color: darkgray;
  font-size: 2em;
  margin: 2%;
}




.cell {
  box-sizing: border-box;
  width: 1.6%;
  height: 5.5%;
  background: radial-gradient(#BEF0AD, #A9E8AE);
  float: left;
  cursor: default;
}

.wall1 {
  background: linear-gradient(#BD992D, #9E7D18);
}

.wall2 {
  background: linear-gradient(#9E7D18, #BD992D);
}



