body {
  background: linear-gradient(#DDF, #88F);
  height: 100vh;
}

#container {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  font-family: "Courier New", courier;
  font-size: 5vmin;
  font-weight: bold;
  text-align: center;
}

#controls {
  width: 91%;
  height: 9%;
  margin-left: 2.5%;
  padding-left: 3%;
  background: linear-gradient(#EEE, #DDD);
  border: 1px solid black;
}

button {
  width: 6%;
  height: 50%;
  border: 1px solid black;
  border-radius: 15%;
  margin-left: .5%;
  margin-right: .5%;
  margin-top: 1.3%;
  box-shadow: 2px 2px 4px black;
  font-size: 2vmin;
}

button:hover {
  border: 1px solid gray;
}

button:active {
  background: darkgray;
}

#speed-label {
  display: inline-block;
  width: 10%;
  margin-left: .6%;
}

#speed {
  position: relative;
  top: 11%;
  width: 6%;

}

#edit-label {
  margin-left: .6%;
}

#edit-menu {
  margin: 1.3%;
  margin-left: .2%;
}

#random {
  margin-right: .8%;
}

.separator {
  color: darkgray;
  font-size: 2em;
  margin: .4%;
}

#help-button {
  margin-left: 1.4%;
}



.cell {
  position: relative;
  box-sizing: border-box;
  width: 1.6%;
  height: 5.5%;
  background: radial-gradient(#BEF0AD, #A9E8AE);
  float: left;
  cursor: default;
  text-shadow: 1px 1px 2px black;

  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

.wall1 {
  background: linear-gradient(#BD992D, #9E7D18);
  box-shadow: 1px 1px 10px black;
}

.wall2 {
  background: linear-gradient(#9E7D18, #BD992D);
  box-shadow: 1px 1px 10px black;
}

.carrier {
  text-shadow: 0 0 5px blue;
}

.evolver1, .evolver2, .evolver3 {
  text-shadow: 0 2px 4px blue;
}



#help {
  display: none;
  position: absolute;
  z-index: 2000;
  top: 7%;
  left: 5.5%;
  right: 6%;
  
  box-sizing: border-box;
  padding: .8%;
 
  height: 70%;
  background: linear-gradient(#EEE, #DDD);
  box-shadow: 5px 5px 10px black;
  border: 1px solid black;

  font-size: 1.1em;
}

table {
  height: 99.7%;
}

td {
  padding: .4%;
  border: 1px solid black;
  background: linear-gradient(#DDF, #EEF);
}

tr td:nth-child(odd)  {
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


tr td:nth-child(even) {
  border-left: none;
} 

td p {
  font-size: 1em;
}

td p:first-child {
  font-weight: bold;
  padding-right: 5%;
}


.legend {
  box-sizing: border-box;
  width: 2%;
  height: 6%;
  margin-left: .5%;
  margin-top: .4%;
  padding-top: 20%;
  cursor: default;
  color: black;
  font-family: "Courier New", courier;
  font-size: 5vmin;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1px black;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 

}

#legend-empty {
  background: radial-gradient(#BEF0AD, #A9E8AE);
}

#legend-wall {
  background: linear-gradient(#BD992D, #9E7D18);
}

#legend-spawner {
  color: white;
  text-shadow: 0 0 2px black;
}

.legend-plant {
  color: green;
}

#legend-rabbit {
  color: darkgray;
}

#legend-turtle {
  color: yellow;
  text-shadow: 0 0 1px black;
}

#legend-wolf {
  color: darkred;
}

#legend-carrier {
  color: pink;
  text-shadow: 0 0 1px black;
}
.legend-evolver {
  color: blue;
}

#about {
  position: absolute;
  display: none;
  z-index: 3000;
  top: 22.5%;
  left: 65.5%;

  box-sizing: border-box;
  width: 27.5%;
  height: 30%;

  background: linear-gradient(#FFF, #DDD);
  
  border-radius: 20%;
  box-shadow: 0 0 5px black;

  text-align: center;
  padding: 1%;
}

#about p {
  margin-top: 8%;
}

#about p:first-child {
  font-weight: bold;
  text-decoration: underline;
}

#about p:nth-child(2) {

}

#about p:nth-child(3) {
  font-size:.75em;
}