body {
  background: linear-gradient(#DDF, #88F);
  height: 100vh;
}

#container {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  font-family: Courier New, courier;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.empty, .wall1, .wall2, .plant, .smart-plant-eater, .tiger {
  box-sizing: border-box;
  width: 1.6%;
  height: 5.5%;
  background: radial-gradient(#BFB, #DFC);
  float: left;
}

.empty {
  
}

.wall1 {
  background: linear-gradient(#BD992D, #9E7D18);
}

.wall2 {
  background: linear-gradient(#9E7D18, #BD992D);
}


/*temp colors*/

.plant {
  
}

.smart-plant-eater {
  color: gray;
}

.tiger {
  color: orange;
}
